/* styles.css */
	*{
	padding: 0;
    margin: 0;
    box-sizing: border-box;
}

	body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
  }


  .header{
	  background-color: #EEEEEE;
    overflow: hidden;
    height: 90px;
	  border-block-end: 0.5px solid;
  }

	h1{
	  display: flex;
    flex-shrink: 0;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    width: 100vw;
    height: 50px;
}

  .staff-management{
    display: flex;
    flex-direction: column;
    background-color: #00adb5;
    align-items: center;
    padding: 25px;
  }
  
  .staff-1, .staff-2, .staff-3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    border: #333;
    margin: 20px;
  }

  .staff-1 {
    height: 256px;
  }
  .staff-3 {
    justify-content: center;
  }

  .all-staff, .get-staff-info {
    border: 1px solid #d6d9dc;
    background-color: #f6f7f8;
    border-radius: 3px;
	  padding: 10px;
    width: 388px;
  }

  .update-staff, .add-staff{
    border: 1px solid #d6d9dc;
    background-color: #f6f7f8;
    border-radius: 3px;
	  padding: 10px;
  }

  .delete-staff{
    border: 1px solid #d6d9dc;
    background-color: #f6f7f8;
    border-radius: 3px;
	  padding: 10px;
  }


  .dentist-management{
    display: flex;
    flex-direction: column;
    background-color: #6c757d;
    align-items: center;
    padding: 25px;
  }

  .dentist-1, .dentist-2, .dentist-3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    border: #333;
    margin: 20px;
  }

  .dentist-1 {
    height: 256px;
  }
  .dentist-3 {
    justify-content: center;
  }

  .all-dentist, .get-dentist-info {
    border: 1px solid #d6d9dc;
    background-color: #f6f7f8;
    border-radius: 3px;
	  padding: 10px;
    width: 388px;
  }

  .update-dentist, .add-dentist{
    border: 1px solid #d6d9dc;
    background-color: #f6f7f8;
    border-radius: 3px;
	  padding: 10px;
  }

  .delete-dentist{
    border: 1px solid #d6d9dc;
    background-color: #f6f7f8;
    border-radius: 3px;
	  padding: 10px;
  }

  .drug-management {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    align-items: center;
    padding: 25px;
  }

  .drug-1, .drug-2, .drug-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    border: #333;
    margin: 20px;
  }

  .all-drug, .get-drug-info {
    border: 1px solid #d6d9dc;
    background-color: #f6f7f8;
    border-radius: 3px;
	  padding: 10px;
    width: 388px;
  }

  .update-drug, .update-drug-stock{
    border: 1px solid #d6d9dc;
    background-color: #f6f7f8;
    border-radius: 3px;
	  padding: 10px;
  }

  .add-drug-info, .delete-drug{
    border: 1px solid #d6d9dc;
    background-color: #f6f7f8;
    border-radius: 3px;
	  padding: 10px;
  }

  h2 {
	color: #333;
  display: flex;
  justify-content: center;
  }
  
  button {
	padding: 10px 20px;
	font-size: 16px;
	background-color: #007bff;
	color: #fff;
	border: none;
	cursor: pointer;
  }
  
  form {
	margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="submit"],
  input[type="password"] {
	padding: 8px;
	margin: 5px;
	font-size: 14px;
  }
  
  #allPatientsInfo {
	background-color: #fff;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
  }
  
  #getPatientInfo {
	background-color: #fff;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
  }
  
  #confirmUpdate {
	display: none;
  }

  #patientUpdateResult {
	color: #dc3545;
  }
  
  /* #addResult {
	color: #dc3545;
  } */

  #patientDeleteResult {
	color: #dc3545;
  }

  input[type="submit"],
  button {
  padding: 10px 20px;
  background-color: #009688;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover,
button:hover {
  background-color: #00796b;
}
